<div class="col-md-4-offset-md-2">
    <div class="card">
        <div class="card-body">
            <form>
                <p>Nombre: </p>
                <div class="form-group">
                    <input type="text" name="firstName" [(ngModel)]="advisor.firstName" placeholder="Enter firstName" class="form-control" autofocus>
                </div>
                <br>
                <p>Apellidos: </p>
                <div class="form-group">
                    <input type="text" name="lastName" [(ngModel)]="advisor.lastName" placeholder="Enter lastName" class="form-control" autofocus>
                </div>
                <br>
                <p>Email: </p>
                <div class="form-group">
                    <input type="text" name="email" [(ngModel)]="advisor.email" placeholder="Enter email " class="form-control" autofocus>
                </div>
                <br>
                <p>Número Telefónico: </p>
                <div class="form-group">
                    <input type="text" name="phoneNumber" [(ngModel)]="advisor.phoneNumber" placeholder="Enter phoneNumber " class="form-control" autofocus>
                </div>
                <br>
                <p>Notas: </p>
                <div class="form-group">
                    <input type="text" name="notes" [(ngModel)]="advisor.notes" placeholder="Enter Notes " class="form-control" autofocus>
                </div>
                <br>
                <button class="btn btn-success btn-block" (click)="saveNewAdvisor()" routerLink="/Advisors">Save</button>
                <button class="btn btn-success btn-block" (click)="update()" routerLink="/Advisors" style="padding-left: 10px;">Update</button>
            </form>
        </div>
    </div>    
</div>
<div class="col-md-4">
    <div class="card card-body text-center">
        <h1>{{advisor.firstName}} - {{advisor.lastName}}</h1>
        <h2>{{advisor.email}} - {{advisor.phoneNumber}}</h2>
        <h2>{{advisor.notes}}</h2>

    </div>
</div>

